{% load static %}


<section id="curse-program" class="curse-program show1">
    <div class="mobile-color">
        <div class="container d-lg-none">
            <div class="curse-program-info m-section-header">
                <h4>Как проходит обучение</h4>
            </div>
        </div>
    </div>
    <div class="container d-none d-lg-block">
        <div class="pc-section-header ">
            <h2>Как проходит курс</h2>
        </div>
    </div>
    <div class="container m-hide">
        <div class="row" style="margin-left: 0;">
            <div class="col-lg-3 pl-0 d-none d-lg-block pb-lg-5">
                <div class="curse-heading">
                    <h3>Что вас ждет</h3>
                    <p class="curse-hdescr">
                        Вы будете много работать самостоятельно по вечерам и выходным, а преподаватели будут рядом,
                        чтобы подсказать.
                    </p>
                </div>
            </div>
            <div class="col-lg-9 col-12">
                <div class="row">
                    <div class="col-12 d-none d-lg-block program-descr-parent">
                        <p class="program-descr">
                            <kbd>Все группы занимаются по одной программе</kbd>
                            и получают одинаковое внимание преподавателей и кураторов.
                        </p>
                        <p class="program-descr">
                            <kbd>Каждую субботу в 12 часов</kbd>
                            по московскому времени мы проводим <kbd>созвон</kbd> всего набора для обсуждения 
                            достигнутых результатов и возникших вопросов, а также презентаций проектов 
                            участников курса. Также регулярно проходят созвоны с кураторами групп по 
                            индивидуальному расписанию каждой группы (об удобном времени вы договариваетесь 
                            с куратором своей группы в начале обучения). В течение недели вы изучаете теорию 
                            по предоставленным материалам и выполняете практические домашние задания 
                            (первые 3 недели - это учебные задачи, а в дальнейшем вы пишете свой проект) в 
                            удобном для вас графике. Вы всегда можете обратиться с вопросами к своему 
                            куратору или в общий чат и оперативно получить ответ и рекомендации. 
                            Такой формат курса позволяет вам эффективно проходить обучение и при этом совмещать 
                            его с своей регулярной деятельностью - работой или учебой в вузе.
                        </p>
                    </div>
                    <div class="schedule-wrapper">
                        <ul class="schedule-list">
                            <li class="flag">
                                <div class="schedule-item">
                                    <div class="schedule-title col-12 col-lg-5">
                                        <b>1-3 неделя</b>
                                        <h4 class="schedule-title">Изучаем и подтягиваем основы Python</h4>
                                    </div>

                                    <p class="schedule-desc col-12 col-lg-7">
                                        Каждую неделю вы на практике проходите блок базовых знаний: слушаете мини-лекций,
                                        пишете код по примерам, затем выполняете проекты и задачи по теме и выкладываете
                                        на проверку в вашем репозитории. Кураторы дают фидбек, как улучшить код.
                                    </p>
                                </div>
                            </li>
                            <li class="code">
                                <div class="schedule-item">
                                    <div class="schedule-title col-12 col-lg-5">
                                        <b>4-9 неделя</b>
                                        <h4 class="schedule-title">Пишем свой проект</h4>
                                    </div>
                                    <p class="schedule-desc col-12 col-lg-7">
                                        Вы продолжаете изучать материалы и выполнять задания, а параллельно начинаете
                                        дипломный проект: выбираете идею и напарника, каждую неделю добавляете
                                        функциональность. Куратор помогает спланировать этапы разработки, подобрать
                                        технологии и решить сложности, которые возникают в процессе.
                                    </p>
                                </div>
                            </li>
                            <li class="hat">
                                <div class="schedule-item">
                                    <div class="schedule-title col-12 col-lg-5">
                                        <b>10 неделя</b>
                                        <h4 class="schedule-title ">Финишная прямая</h4>
                                    </div>
                                    <p class="schedule-desc col-12 col-lg-7">
                                        Вы доводите проект до рабочего прототипа, который можно показать коллегам и
                                        друзьям, и презентуете его своим сокурсникам. Если вы презентуете свой проект
                                        - вы получаете сертификат об успешном окончании курса.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="timetable" class="timetable show1">
    <div class="container d-lg-none">
        <div class="timetable-lf-info m-section-header">
            <h4>Программа</h4>
        </div>
    </div>
    <div class="container m-hide">
        <div class="row mx-row">
            <div class="col-lg-3 pl-0 d-none d-lg-block pb-lg-5">
                <div class="curse-heading">
                    <h3>Программа</h3>
                    <p class="curse-hdescr">На курсе мы учим программированию на Python в целом - "Основной" трек.</p>
                    <p class="curse-hdescr">Параллельно с основным курсом вы по выбору можете изучать один из тематических треков:</p>
                    <ul class="curse-hdescr">
                        <li>Веб-разработка</li>
                        <li>Анализ данных</li>
                        <li>Чат-боты</li>
                    </ul>
                    <p class="curse-hdescr">
                        Используйте переключатели, чтобы посмотреть содержание каждого трека.
                    </p>
                </div>
            </div>
            <div class="col-lg-9 col-12 timetbl-p-0">
                <div class="timetable-container">
                    <ul class="nav nav-tabs flex-lg-nowrap justify-content-start button-tab-group d-none d-lg-inline-flex">
                        <li><a class="active" data-toggle="tab" href="#tab1">Основной трек</a></li>
                        <li><a data-toggle="tab" href="#tab2">Трек &laquo;Веб-разработка&raquo;</a></li>
                        <li><a data-toggle="tab" href="#tab3">Трек &laquo;Анализ данных&raquo;</a></li>
                        <li><a data-toggle="tab" href="#tab4">Трек &laquo;Чат-боты&raquo;</a></li>
                    </ul>
                    <div id="tb-anc" class="tab-content">
                        <div id="tab1" class="tab-pane timetable-tab-onl active show fade">
                            {% include "mainpage/include/track_main.html" %}
                        </div>
                        <div id="tab2" class="tab-pane timetable-tab-onl fade">
                            {% include "mainpage/include/track_web.html" %}
                        </div>
                        <div id="tab3" class="tab-pane timetable-tab-onl fade">
                            {% include "mainpage/include/track_ds.html" %}
                        </div>
                        <div id="tab4" class="tab-pane timetable-tab-onl fade">
                            {% include "mainpage/include/track_bots.html" %}
                        </div>
                    </div>
                </div>
                <p class="advanced-promo">
                    Ещё у нас есть
                    <a href="/advanced" target="_blank">продвинутый курс</a>
                    для тех, кто уже освоил эту программу.
                </p>
            </div>
        </div>
    </div>
</section>
