<section id="video-answers" class="video-answers show1">
    <div class="container">
        <div class="pc-section-header">
            <h2>О курсе</h2>
        </div>
    </div>
    <div class="container">
        <div class="row d-lg-flex m-0">
            <div class="col-lg-3 pl-0 col-12">
                <div class="answers-heading">
                    <h3 class="d-none d-lg-block">Видеоответ на все вопросы</h3>
                    <p class="about-hdescr d-none d-lg-block">
                        Почему мы учим Python’у лучше всех, как мы это делаем,
                        чему вы научитесь и почему наши выпускники - уже практически junior программисты.
                    </p>
                </div>
            </div>
            <div class="col-lg-9 col-12">
                <div class="row">
                    <iframe
                        width="100%" height="500px" src="https://www.youtube.com/embed/geXg_BjuIGI"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    >
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
