{% load static %}

<section id="hero" class="hero show1">
    <div class="container">
        <div class="row">
            <div class="col-12 d-lg-none py-2 logo">
                <span class="color-blue">L</span>EARN <span class="color-yellow">P</span>YTHON
            </div>
            <h1 class="col-12 col-md-10 col-xl-8">
                Курс программирования на
                <span class="js-type-it color-yellow">Python 3.11</span>
                для любого уровня c упором на практику
            </h1>
            <h3 class="h3 col-12 col-md-10 col-xl-8">Ближайший набор пройдет только Онлайн</h3>
            <p class="hdescr col-12 col-md-8 col-xl-8">
                Вы создадите Telegram-бота в первую же неделю. Познакомитесь с основами data science и веб-разработки.
                Напишете собственный проект. Опытные питонисты, имеющие опыт «боевой» разработки, всю дорогу будут
                проверять ваш код и давать рекомендации.
            </p>
            {% if enrollment %}
                <h4 class="curs-place col-12 col-md-8 col-xl-12 fadeInLeft animated-on-ready">
                    С {{ enrollment.start_date | date:"j E" }} по {{ enrollment.end_date | date:"j E" }}
                </h4>
                <h4 class="curs-place col-12 col-md-8 col-xl-12 fadeInLeft animated-on-ready">
                    Регистрация закроется {{ enrollment.end_registration_date | date:"j E" }}
                </h4>
                <h4 class="curs-place col-12 col-md-8 col-xl-12 fadeInLeft animated-on-ready">
                    Всего
                    <span class="js-type-it color-yellow">50</span>
                    мест в наборе – успейте присоединиться!
                </h4>
                <div
                    class="hero-time col-md-auto col-xl-4 d-flex justify-content-center counter-container"
                    data-count-down="{{ registration_closes_date_formatted }}"
                >
                    <div class="row justify-content-center"><b class="d-block">00</b><span class="tm-name">дней</span></div>
                    <span class="delimeter">:</span>
                    <div class="row justify-content-center"><b class="d-block">00</b><span class="tm-name">часов</span></div>
                    <span class="delimeter">:</span>
                    <div class="row justify-content-center"><b class="d-block">00</b><span class="tm-name">минут</span></div>
                    <span class="delimeter">:</span>
                    <div class="row justify-content-center"><b class="d-block">00</b><span class="tm-name">секунд</span></div>
                </div>
            {% else %}
                <h4 class="curs-place col-12 col-md-8 col-xl-12">
                    Сейчас регистрация закрыта, но мы скоро регистрацию на новый набор
                </h4>
            {% endif %}
        </div>
        <div class="ticket-block row">
            <div class="col-md-12 col-lg-8">
                <div class="card slideInUp animated-on-ready">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h3 class="card-heading brackets brackets-yellow">Учитесь онлайн</h3>
                        <div class="price-list">
                            <script id="3e6321862d90cf3a72c6198927067b35e82b0b822" src="{% static 'js/widgets/widget.js' %}"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
