{% load static %}

<section id="teachers" class="teachers show1">
    <div class="container d-lg-none">
        <div class="m-section-header">
            <h4>Курс ведут</h4>
        </div>
    </div>
    <div class="container m-hide">
        <div class="container d-none d-lg-block">
            <div class="pc-section-header ">
                <h2>Кто делает курс</h2>
            </div>
        </div>
        <div class="row mx-row can-first-par d-none d-lg-flex">
            <div class="col-lg-3 pl-0 d-none d-lg-block pb-lg-4">
                <div class="curse-heading">
                    <h3>Кто мы</h3>
                </div>
            </div>
            <div class="col-lg-9 d-none d-lg-block">
                <div class="row m-0" style="position: relative">
                    <div class="img-who " style="background-image: url({% static 'images/who-we.png' %});"></div>
                    <div class="who-cont">
                        <div class="who-are-we">
                            <h3>Курс организует сообщество MoscowPython</h3>
                            <p>
                                C 2012 года проводим митапы Python-разработчиков на площадках Яндекса, ЦИАН, Мегафона,
                                Mail.ru Group и других компаний. Записываем видео и подкаст для питонистов.
                                Объединили свыше 5К человек в единое комьюнити.
                            </p>
                            <ul class="who-we-icon">
                                <li>
                                    <div class="who-are-icon">
                                        <img src="{% static 'images/icon-svg/3-year.svg' %}" alt="3 year">
                                    </div>
                                    <div class="who-icon-title">
                                        <h4>5 лет</h4>
                                        <span>курсу</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="who-are-icon">
                                        <img src="{% static 'images/icon-svg/11-sets.svg' %}" alt="11 sets">
                                    </div>
                                    <div class="who-icon-title">
                                        <h4>20 наборов</h4>
                                        <span>прошли обучение</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="who-are-icon">
                                        <img src="{% static 'images/icon-svg/400-graduates.svg' %}" alt="400 graduates">
                                    </div>
                                    <div class="who-icon-title">
                                        <h4>1000+</h4>
                                        <span>выпускников</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-row teachers-list-parent">
            <div class="d-lg-none">
                <div class="mobi-cur-title-main">
                    <h4>Основные преподаватели и организаторы</h4>
                </div>
            </div>
            <div class="col-lg-3 pl-0 d-none d-lg-block">
                <div class="curse-heading">
                    <h3>Основные преподаватели и организаторы</h3>
                    <p class="curse-hdescr">
                        Практики с большим опытом в разработке и управлении проектами. Разработали сам курс.
                        Ведут занятия. Записывают видеолекции. Помогают со сложными задачами. Отвечают за
                        организационные и административные вопросы.
                    </p>
                </div>
            </div>
            <ul class="col-12 col-lg-9 teachers-list row m-0">
                <li>
                    <div class="d-flex darked flex-lg-nowrap flex-wrap">
                        <div class="img-wrapper">
                            <img class="img-fluid" src="{% static 'images/mentor/teacher/image-t1.jpg' %}" alt="Михаил Корнеев">
                        </div>
                        <div class="teacher-info">
                            <h3 class="teacher-name brackets brackets-blue-yellow">Михаил Корнеев</h3>
                            <p class="d-none d-lg-block">
                                В коммерческой разработке с 2001 года, с 2009 — работает с Python.
                            </p>
                            <p class="d-none d-lg-block">
                                Cооснователь MoscowPython. Тимлид в BestDoctor.
                            </p>
                        </div>
                        <div class="d-lg-none hdescr">
                            Сооснователь MoscowPython, Тимлид в BestDoctor. В коммерческой разработке с 2001 года,
                            с 2009 - работает с Python.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex darked flex-lg-nowrap flex-wrap">
                        <div class="img-wrapper order-lg-1">
                            <img class="img-fluid" src="{% static 'images/mentor/teacher/new_dombrovsky.jpg' %}" alt="Валентин Домбровский"></div>
                        <div class="teacher-info">
                            <h3 class="teacher-name brackets brackets-blue-yellow">Валентин Домбровский</h3>
                            <p class="d-none d-lg-block">
                                Евангелист и сооснователь MoscowPython сообщества.
                            </p>
                            <p class="d-none d-lg-block">
                                Сооснователь Drylabs, компании, создающей open-source проекты.
                            </p>
                        </div>
                        <div class="d-lg-none hdescr">
                            Евангелист и сооснователь MoscowPython сообщества. Сооснователь Drylabs, компании, создающей open-source проекты.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex darked flex-lg-nowrap flex-wrap">
                        <div class="img-wrapper">
                            <img class="img-fluid" src="{% static 'images/mentor/teacher/semen.jpg' %}" alt="Семен Осипов">
                        </div>
                        <div class="teacher-info">
                            <h3 class="teacher-name brackets brackets-blue-yellow">Семён Осипов</h3>
                            <p class="d-none d-lg-block">
                                Активист MoscowPython сообщества, Team Lead в Gett, до этого - Big Data Engineer
                                в X5 Retail Group и Semrush.
                            </p>
                        </div>
                        <div class="d-lg-none hdescr">
                            Активист MoscowPython сообщества, Team Lead в Gett, до этого - Big Data Engineer
                            в X5 Retail Group и Semrush.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row mx-row">
            <div class="d-lg-none">
                <div class="mobi-cur-title">
                    <h4>Кураторы групп</h4>
                </div>
            </div>
            <div class="col-lg-3 pl-0 d-none d-lg-block pb-lg-4">
                <div class="curse-heading">
                    <h3>Кураторы групп</h3>
                    <p class="curse-hdescr">
                        Первыми придут на помощь на занятиях и между ними. Помогут спланировать и
                        распределить задачи в вашем выпускном проекте.
                    </p>
                </div>
            </div>
            <ul class="col-12 col-lg-9 mentor-list">
                {% for curator in curators_list %}
                    <li>
                        <div class="darked">
                            <div class="img-wrapper">
                                {% if curator.curator_photo %}
                                    <img class="img-fluid" src="{{ curator.curator_photo.url }}" alt="{{ curator.curator_name }}">
                                {% endif %}
                                <h4 class="teacher-name brackets brackets-blue-yellow">{{ curator.curator_name }}</h4>
                            </div>
                            <div class="teacher-info">
                                <p>{{ curator.curator_bio }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
