<section id="labor-program" class="labor-program show1">
    <br>
    <div class="mobile-color">
        <div class="container d-lg-none">
            <div class="curse-program-info m-section-header">
                <h4>Поддержка трудоустройства</h4>
            </div>
        </div>
    </div>
    <div class="container d-none d-lg-block">
        <div class="pc-section-header ">
            <h2>Поддержка трудоустройства</h2>
        </div>
    </div>
    <br>
    <div class="container m-hide">
        <div class="row" style="margin-left: 0;">
            <div class="col-lg-3 pl-0 d-none d-lg-block pb-lg-5">
                <div class="curse-heading">
                    <h3>Что это такое?</h3>
                    <p class="curse-hdescr">
                        После окончания курсов мы помогаем нашим выпускникам с трудоустройством: рассказываем, как
                        проходить собеседования, как исправить резюме и причесать GitHub.
                    </p>
                </div>
            </div>
            <div class="col-lg-9 col-12">
                <div class="row">
                    <div class="col-12 d-none d-lg-block program-descr-parent">
                        <p class="program-descr">
                            <kbd>Все участники</kbd> получают нашу поддержку по трудоустройству.
                        </p>
                        <p class="program-descr">
                            <kbd>После окончания курса</kbd> мы проводим бесплатный вебинар, на котором
                            рассказываем про особенности составления
                            резюме, прохождения собеседований, поиску работы. Мы также приглашаем в наш закрытый
                            чат, где мы делимся вакансиями
                            "из первых рук" для начинающих.
                        </p>
                    </div>
                    <div class="schedule-wrapper">
                        <ul class="schedule-list">
                            <li class="flag">
                                <div class="schedule-item">
                                    <div class="schedule-title col-12 col-lg-5">
                                        <b>Шаг 1</b>
                                        <h4 class="schedule-title">Посещаем вебинар по поиску работы</h4>
                                    </div>
                                    <p class="schedule-desc col-12 col-lg-7">
                                        Через неделю после окончания курса мы проводим вебинар по поиску работы. Мы
                                        говорим о том, почему надо ходить на собеседования и как их не бояться,
                                        рассказываем "секреты" HR и о том, как составлять резюме, чтобы на него обращали
                                        внимание, причесываем GitHub.
                                    </p>
                                </div>
                            </li>
                            <li class="code">
                                <div class="schedule-item">
                                    <div class="schedule-title col-12 col-lg-5">
                                        <b>Шаг 2</b>
                                        <h4 class="schedule-title">Корректируем курс</h4>
                                    </div>
                                    <p class="schedule-desc col-12 col-lg-7">
                                        Желающие могут заполнить анкету с резюме и ссылкой на свой проект, а мы дадим
                                        персональные комментарии по составлению резюме и вашему GitHub.
                                    </p>
                                </div>
                            </li>
                            <li class="hat">
                                <div class="schedule-item">
                                    <div class="schedule-title col-12 col-lg-5">
                                        <b>Шаг 3</b>
                                        <h4 class="schedule-title ">Работа с партнерами</h4>
                                    </div>
                                    <p class="schedule-desc col-12 col-lg-7">
                                        Ваши исправленные резюме мы показываем нашим партнерам, которые проявили
                                        заинтересованность в найме наших выпускников.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
