<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <span class="navbar-toggler-icon navbar-toggle d-lg-none"></span>
        <div class="align-items-center d-lg-flex pd-logo">
            <a href="#hero" class="logo text-uppercase scroll-to">
                <span class="color-blue">L</span>EARN <span class="color-yellow">P</span>YTHON
            </a>
        </div>
        <nav id="navBar" class="nav-bar">
            <div class="open-nav-title justify-content-between d-lg-none">
                <span class="navbar-close-icon navbar-toggle d-lg-none"></span>
                <div class="col-xl-auto align-items-center d-lg-flex pd-logo">
                    <a href="#hero" class="logo text-uppercase scroll-to">
                        <span class="color-blue">L</span>EARN <span class="color-yellow">P</span>YTHON
                    </a>
                </div>

                {% if enrollment.platim_url %}
                    <a class="custom-btn btn btn-outline-warning" href="{{ enrollment.platim_url }}" target="_blank">
                        Записаться
                    </a>
                {% else %}
                    <a data-toggle="modal" data-target="#overlay" class="custom-btn btn btn-outline-warning" href="#counter">
                        Записаться
                    </a>
                {% endif %}
            </div>
            <ul class="nav justify-content-start justify-content-lg-end smooth-scroll">
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#about">
                        <span class="d-lg-none">Что дает этот курс</span>
                        <span class="d-none d-lg-inline">О курсе</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#curse-program">
                        <span class="d-lg-none">Как проходит обучение</span>
                        <span class="d-none d-lg-inline">Программа</span>
                    </a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link scroll-to" href="#timetable">Расписание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#teachers">
                        <span class="d-lg-none">Курс ведут</span>
                        <span class="d-none d-lg-inline">Преподаватели</span>
                    </a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link scroll-to" href="#counter">Стоимость</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#howToPay">Как оплатить</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#reviews">Отзывы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">
                        <span class="d-lg-none">Выпускные проекты</span>
                        <span class="d-none d-lg-inline">Проекты</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#faq">
                        <span class="d-lg-none">FAQ</span>
                        <span class="d-none d-lg-inline">FAQ</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#contact">Контакты</a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    {% if enrollment.platim_url %}
                        <a class="custom-btn btn" href="{{ enrollment.platim_url }}" target="_blank">
                            Записаться
                        </a>
                    {% else %}
                        <a data-toggle="modal" data-target="#overlay" class="custom-btn btn" href="#counter">
                            Записаться
                        </a>
                    {% endif %}
                </li>
            </ul>
        </nav>

        <div class="d-lg-none">
            {% if enrollment.platim_url %}
                <a class="custom-btn btn" href="{{ enrollment.platim_url }}" target="_blank">
                    Записаться
                </a>
            {% else %}
                <a data-toggle="modal" data-target="#overlay" class="custom-btn btn btn-outline-warning"  href="#counter">
                    Записаться
                </a>
            {% endif %}
        </div>
    </div>
</div>
