{% load static %}


<section id="reviews" class="reviews darked show1">
    <div class="container d-lg-none">
        <div class="m-section-header">
            <h4>Отзывы</h4>
        </div>
    </div>
    <div class="container d-none d-lg-block">
        <div class="pc-section-header">
            <h2>Отзывы наших выпускников</h2>
        </div>
    </div>

    <div class="container m-hide d-lg-none who-we-icon-reviews">
        <ul class="who-we-icon">
            <li>
                <div class="who-are-icon">
                    <img src="{% static 'images/icon-svg/3-year.svg' %}" alt="3 year">
                </div>
                <div class="who-icon-title">
                    <h4>5 лет</h4>
                    <span>курсу</span>
                </div>
            </li>
            <li>
                <div class="who-are-icon">
                    <img src="{% static 'images/icon-svg/11-sets.svg' %}" alt="11 sets">
                </div>
                <div class="who-icon-title">
                    <h4>1000+</h4>
                    <span>выпускников</span>
                </div>
            </li>

        </ul>
    </div>
    <div class="dark-cont">
        <div class="container m-hide">
            <div class="reviews-carousel col-xl-10" style="margin: 0 auto;">
                <div class="reviews-carousel-slider">
                    {% for review in reviews %}
                        <div class="slick-custom-slide">
                            <div class="slide-wrapper">
                                <h3 class="slide-heading">{{ review.title }}</h3>
                                <div>{{ review.text }}</div>
                                <div>{{ review.reviewer_name | default:'' }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="slider-nav nav-container">
                    <a class="carousel-control prev d-lg-flex" role="button" data-slide="prev">
                        <i class="material-icons">arrow_back</i>
                    </a>
                    <span class="pagerSelector"></span>
                    <a class="carousel-control next d-lg-flex" role="button" data-slide="next">
                        <i class="material-icons">arrow_forward</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
