<h3>Трек &laquo;Веб-разработка&raquo;</h3>
<h4>Простой веб-сервер и использование внешних API</h4>
<ul>
  <li>Как работает интернет?</li>
  <li>Простое веб-приложение на Flask</li>
  <li>Получаем прогноз погоды по API при помощи requests</li>
  <li>Добавляем прогноз погоды на главную страницу</li>
</ul>


<h4>Основы HTML и парсинг сайтов</h4>
<ul>
  <li>Основы HTML</li>
  <li>Знакомимся с фреймворком Bootstrap</li>
  <li>Работа с шаблонами во Flask</li>
  <li>Парсинг сайтов при помощи BeautifulSoup</li>
</ul>

<h4>Основы работы с базами данных</h4>
<ul>
  <li>Что такое базы данных и как они работают?</li>
  <li>Знакомимся с Flask-SQLAlchemy</li>
  <li>Создаем модель новости</li>
  <li>Выводим новости на главной странице</li>
</ul>

<h4>Веб-формы и регистрация пользователей</h4>
<ul>
  <li>Как устроены веб-формы</li>
  <li>Создаем форму логина</li>
  <li>Создание пользователей и шифрование паролей</li>
  <li>Организуем проверку прав доступа</li>
</ul>

<h4>Разбиение проекта на модули</h4>
<ul>
  <li>Что такое Blueprint?</li>
  <li>Выносим функционал в блюпринты</li>
  <li>Наследование шаблонов</li>
  <li>Создаем свой декоратор</li>
</ul>

<h4>Миграции баз данных</h4>
<ul>
  <li>Что такое миграции?</li>
  <li>Добавим поле в модель и создадим миграцию</li>
  <li>Регистрация пользователей и работа с пользователями в шаблоне</li>
</ul>

<h4>Автоматический запуск задач с помощью Celery</h4>
<ul>
  <li>Создадим отдельный модуль для получения новостей</li>
  <li>Постобработка текстов новостей</li>
  <li>Знакомство с Celery</li>
  <li>Настройка сбора новостей по расписанию</li>
</ul>

<h4>Добавляем комментарии на сайт</h4>
<ul>
  <li>Создаем модель Comment</li>
  <li>Делаем запросы из связанных таблиц</li>
  <li>Отображение комментариев на сайте</li>
  <li>Добавляем возможность комментировать новости</li>
</ul>

{% include 'mainpage/include/common/buttons/track_order_button.html' %}