<h3>Трек &laquo;Чат-боты&raquo;</h3>
<p><b>Базовый бот для Телеграм</b></p>
<ul>
  <li>Как устроены боты?</li>
  <li>Пишем простого бота</li>
  <li>Добавляем обработку команд</li>
  <li>Подключаем логирование</li>
</ul>

<p><b>Расширяем возможности бота</b></p>
<ul>
  <li>Реализуем логику игры в числа</li>
  <li>Учимся отправлять картинки</li>
  <li>Добавим emoji</li>
  <li>Научим бота запоминать пользовательские данные</li>
</ul>

<p><b>Пользовательские клавиатуры</b></p>
<ul>
  <li>Добавляем клавиатуру</li>
  <li>Получаем геокоординаты пользователя</li>
  <li>Разбиваем проект на файлы</li>
  <li>Пишем README</li>
</ul>

<p><b>Интеграция бота с внешними сервисами</b></p>
<ul>
  <li>Как бот принимает изображения?</li>
  <li>Работаем с сервисом машинного обучения clarifai</li>
  <li>Добавляем распознавание изображений в бота</li>
</ul>

<p><b>Диалоговые боты</b></p>
<ul>
  <li>Как работают диалоги?</li>
  <li>Реализуем анкетирование пользователей при помощи диалога</li>
  <li>Обрабатываем fallbacks</li>
</ul>

<p><b>Знакомство с MongoDB</b></p>
<ul>
  <li>Знакомство с MongoDB</li>
  <li>Подключаемся к БД при помощи Python</li>
  <li>Сохраним данные о пользователе</li>
  <li>Сохраним данные анкеты</li>
  <li>Используем Flake8 для улучшения качества кода</li>
</ul>

<p><b>Автоматически выполняемые задания</b></p>
<ul>
  <li>Создадим простое повторяющееся задание</li>
  <li>Рассылаем сообщение всем подписчикам по расписанию</li>
  <li>Как работать с ограничениями Telegram на количество сообщений?</li>
  <li>Создаем уведомления динамически</li>
</ul>

<p><b>Использование Inline-клавиатур</b></p>
<ul>
  <li>Добавляем inline-клавиатуру к картинке</li>
  <li>Принимаем данные  и сохраняем голос пользователя</li>
  <li>Разбираемся с агрегациями в MongoDB</li>
  <li>Вычисляем рейтинг картинок</li>
</ul>

<p><b>Тестирование чат-ботов</b></p>
<ul>
  <li>Установка и настройка pytest</li>
  <li>Тестируем простые функции</li>
  <li>Мокапы: тестируем функции, работающие с MongoDB</li>
  <li>Тестируем колбеки</li>
</ul>
