<h3>Основной трек</h3>
<h4>Знакомство с python</h4>
<ul>
    <li>Работа в командной строке, файлы .py</li>
    <li>Простые и комплексные типы данных</li>
    <li>Переменные и функции</li>
    <li>Работа с системой контроля версий git</li>
</ul>

<h4>Управление работой программы</h4>
<ul>
    <li>Условный оператор if</li>
    <li>Циклы for и while</li>
    <li>Обработка исключений</li>
    <li>Работа с модулями и пакетный менеджер pip</li>
</ul>

<h4>Файлы, даты, виртуальное окружение</h4>
<ul>
    <li>Настройка и работа с виртуальным окружением</li>
    <li>Работа с датой и временем</li>
    <li>Основы работы с текстовыми файлами</li>
    <li>Работа с табличными данными в формате csv</li>
    <li>Введение в объектно-ориентированное программирование</li>
</ul>

<h4>Основы командной работы</h4>
<ul>
    <li>Основы проектирование программных продуктов</li>
    <li>Планирование и ведение проекта в трекере задач</li>
    <li>Командная работа над проектом при помощи git и github</li>
</ul>

<h4>Качество кода</h4>
<ul>
    <li>Что такое качество кода?</li>
    <li>6 способов сделать код лучше</li>
    <li>PEP8 - форматируем код по стандарту</li>
    <li>Как документировать программу</li>
</ul>

<h4>Введение в тестирование</h4>
<ul>
    <li>Что такое тестирование и зачем оно нужно?</li>
    <li>Что и как тестировать?</li>
    <li>Инструменты тестирования кода</li>
</ul>

<h4>Размещение проекта в Интернете</h4>
<ul>
    <li>Разворачиваем виртуальный сервер</li>
    <li>Принцип работы SSH</li>
    <li>Администрирование и настройка сервера</li>
    <li>Запуск проекта на сервере</li>
</ul>

{% include 'mainpage/include/buttons/track_order_button.html' %}