<h3>Трек &laquo;Чат-боты&raquo;</h3>
<h4>Базовый бот для Телеграм</h4>
<ul>
  <li>Как устроены боты?</li>
  <li>Пишем простого бота</li>
  <li>Добавляем обработку команд</li>
  <li>Подключаем логирование</li>
</ul>

<h4>Расширяем возможности бота</h4>
<ul>
  <li>Реализуем логику игры в числа</li>
  <li>Учимся отправлять картинки</li>
  <li>Добавим emoji</li>
  <li>Научим бота запоминать пользовательские данные</li>
</ul>

<h4>Пользовательские клавиатуры</h4>
<ul>
  <li>Добавляем клавиатуру</li>
  <li>Получаем геокоординаты пользователя</li>
  <li>Разбиваем проект на файлы</li>
  <li>Пишем README</li>
</ul>

<h4>Интеграция бота с внешними сервисами</h4>
<ul>
  <li>Как бот принимает изображения?</li>
  <li>Работаем с сервисом машинного обучения clarifai</li>
  <li>Добавляем распознавание изображений в бота</li>
</ul>

<h4>Диалоговые боты</h4>
<ul>
  <li>Как работают диалоги?</li>
  <li>Реализуем анкетирование пользователей при помощи диалога</li>
  <li>Обрабатываем fallbacks</li>
</ul>

<h4>Знакомство с MongoDB</h4>
<ul>
  <li>Знакомство с MongoDB</li>
  <li>Подключаемся к БД при помощи Python</li>
  <li>Сохраним данные о пользователе</li>
  <li>Сохраним данные анкеты</li>
  <li>Используем Flake8 для улучшения качества кода</li>
</ul>

<h4>Автоматически выполняемые задания</h4>
<ul>
  <li>Создадим простое повторяющееся задание</li>
  <li>Рассылаем сообщение всем подписчикам по расписанию</li>
  <li>Как работать с ограничениями Telegram на количество сообщений?</li>
  <li>Создаем уведомления динамически</li>
</ul>

<h4>Использование Inline-клавиатур</h4>
<ul>
  <li>Добавляем inline-клавиатуру к картинке</li>
  <li>Принимаем данные  и сохраняем голос пользователя</li>
  <li>Разбираемся с агрегациями в MongoDB</li>
  <li>Вычисляем рейтинг картинок</li>
</ul>

<h4>Тестирование чат-ботов</h4>
<ul>
  <li>Установка и настройка pytest</li>
  <li>Тестируем простые функции</li>
  <li>Мокапы: тестируем функции, работающие с MongoDB</li>
  <li>Тестируем колбеки</li>
</ul>

{% include 'mainpage/include/buttons/track_order_button.html' %}