<!doctype html>
<html lang="en">
  {% load static %}
  {% load l10n %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Material+Icons|Rubik|Roboto|PT+Mono|Ubuntu:300,400,600,500,700&amp;subset=cyrillic"
		  rel="stylesheet">
	<link rel="stylesheet" href="{% static 'vendor/css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<title>Learn Python - учимся программировать на Python за 2 месяца</title>

	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '1836162336497538');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=1836162336497538&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
	
		ym(36394035, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/36394035" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
 
	
</head>
<body data-spy="scroll" data-target="#navBar" data-offset="20">
<header class="main-header">
	<div class="container">
		<div class="d-flex justify-content-between align-items-center">

			<span class="navbar-toggler-icon navbar-toggle d-lg-none"></span>
			<div class="align-items-center d-lg-flex pd-logo">
				<a href="./" class="logo text-uppercase scroll-to">
					<span class="color-blue">L</span>EARN <span class="color-yellow">P</span>YTHON
				</a>
			</div>
			<nav id="navBar" class="nav-bar">

				<div class="open-nav-title justify-content-between d-lg-none">
					<span class="navbar-close-icon navbar-toggle d-lg-none"></span>
					<div class="col-xl-auto align-items-center d-lg-flex pd-logo">
						<a href="./" class="logo text-uppercase scroll-to">
							<span class="color-blue">L</span>EARN <span class="color-yellow">P</span>YTHON
						</a>
					</div>
					<a data-toggle="modal" data-target="#overlay" class="custom-btn btn btn-outline-warning"
					   href="#counter" onclick="dataLayer.push({'event':'head_record'});">
						Записаться
					</a>
				</div>
				<ul class="nav justify-content-start justify-content-lg-end smooth-scroll">
					<li class="nav-item d-none d-lg-block">
						<a data-toggle="modal" data-target="#overlay" class="custom-btn btn"
						   href="#counter" onclick="dataLayer.push({'event':'head_record'});">
							Записаться
						</a>
					</li>
				</ul>
			</nav>

			<div class="d-lg-none">
				<a data-toggle="modal" data-target="#overlay" class="custom-btn btn btn-outline-warning"
				   href="#counter">Записаться</a>
			</div>
		</div>
	</div>
</header>

<main>
	<section id="example-project" class="example-project darked d-none d-lg-block">
		<div class="container-fluid">
			<h2 class="section-heading text-center col-md-8 mx-auto">
				Проекты, созданные во время обучения
			</h2>
		</div>
	</section>

	<section id="videos" class="teachers">
		{% if student_projects %}
			{% for project in student_projects %}
				<div class="container">
					<div class="row mx-row teachers-list-parent">
						<div class="col-lg-3 pl-0 d-none d-lg-block">
							<div class="curse-heading">
								<h3>{{project.project_name}}</h3>
								<p class="curse-hdescr">
									{{project.project_description}}
								</p>
							</div>
						</div>
						<ul class="col-12 col-lg-9 teachers-list row m-0">
							<li>
								<div class="d-flex darked flex-lg-nowrap flex-wrap">
									<iframe width="800" height="400" src="https://www.youtube.com/embed/{{project.project_url}}" 
											frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
											allowfullscreen>
									</iframe>
								</div>
							</li>
						</ul>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</section>
</main>
<div
		id="overlay"
		class="modal fade register modal--scroll"
		tabindex="-1"
		role="dialog"
		aria-labelledby="exampleModalLabel"
		aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header darked">
				<div class="container">
					<div class="row">
						<button
								type="button"
								data-dismiss="modal"
								class="close">
							<span class="close-label">Закрыть </span>
							<span class="close-icon"></span>
						</button>
						<h2 class="text-lg-center col-12">записаться на курс</h2>
						<p class="modal-descr col-lg-8">
							Мы зарезервируем место в группе на 80 часов, чтобы вы могли спокойно оплатить его или
							получить одобрение банка на рассрочку.
							Если не успеть, бронь "сгорит".
						</p>
						<p class="modal-descr col-lg-8">
							После регистрации вы получите всю необходимую информацию о том, что стоит подготовить к
							первому занятию.
						</p>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row justify-content-center">
						<div class="px-0 col-12 col-lg-6 register-test">
							<script
									type="text/javascript"
									async="async"
									defer="defer"
									charset="UTF-8"
									src="https://timepad.ru/js/tpwf/loader/min/loader.js"
									data-timepad-customized="12675"
									data-twf2s-event--id={{ course.timepad_event_id }}
									data-timepad-widget-v2="event_register">
								(function () {
									return {
										"loadCSS": [
											"{% static 'css/modal.css' %}"
										],
										"skipBaseCSS": false,
										"disableBootstrap": false
									};
								})();
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="button-fix" style="position: fixed; right: 30px;bottom: 40px;z-index: 999;">
	<button id="scrollup" class="goOnTop"><i class="material-icons">arrow_upward</i></button>
</div>
<script src="{% static 'vendor/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/js/slick.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>
</body>
</html>
