.idea
bin/
*.sqlite3
pip-selfcheck.json
lib/
.DS_Store
db.sqlite3

# Venv
venv/
env/
pyvenv.cfg

# Eric IDE project settings
*.e4p
*.e5p
*.e6p
.eric5project/
.eric6project/

# Rope project settings
.ropeproject

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode
*.code-workspace