.idea
.vscode
bin/
*.sqlite3
pyvenv.cfg
pip-selfcheck.json
lib/
venv/
.DS_Store
db.sqlite3

# Eric IDE project settings
*.e4p
*.e5p
*.e6p
.eric5project/
.eric6project/

# Rope project settings
.ropeproject

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
