{% load static %}
{% load l10n %}

<!--FOOTER START-->
<footer class="footer_wrapper">
    <div class="container">
        <div class="bottom_menu_logo_wrapper">
            <div class="logo">
                <a href="/">
                    <img src="{% static 'new-design/img/python.png' %}" alt="logo">
                    <img src="{% static 'new-design/img/PythonRu_white.png' %}" alt="logo">
                </a>
            </div>
            <div class="bottom_menu">
                <ul class="footer_nav">
                    <li>
                        <a href="/new">О проекте</a>
                    </li>
                    <li>
                        <a href="/new/blog">Блог</a>
                    </li>
                    <li>
                        <a href="/new/events">Мероприятия</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--FOOTER END-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>
<script src="{% static 'new-design/js/script.js' %}"></script>
</body>
</html>
