<section id="hero" class="hero show1">
    <div class="container">
        <div class="row">
            <div class="col-12 d-lg-none py-2 logo">
                <span class="color-blue">L</span>EARN <span class="color-yellow">P</span>YTHON
            </div>
            <h1 class="col-12 col-md-10 col-xl-8">
                Курс программирования на
                <span class="js-type-it color-purple">Python 3.12</span>
                для тех, кто уже знаком с веб-разработкой на Python
            </h1>
            <p class="hdescr col-12 col-md-8 col-xl-8">
                Вы научитесь писать код, за который не стыдно: аннотированный, покрытый тестами, с правильными
                структурами данных, с настроенными линтерами и CI. Опытные питонисты, имеющие опыт «боевой»
                разработки, всю дорогу будут проверять ваш код и давать рекомендации.
            </p>
            {% if enrollment %}
                <h4 class="curs-place col-12 col-md-8 col-xl-12 fadeInLeft animated-on-ready">
                    С {{ enrollment.start_date | date:"j E" }} по {{ enrollment.end_date | date:"j E" }}
                </h4>
                <h4 class="curs-place col-12 col-md-8 col-xl-12 fadeInLeft animated-on-ready">
                    Регистрация закроется {{ enrollment.end_registration_date | date:"j E" }}
                </h4>
                <h4 class="curs-place col-12 col-md-8 col-xl-12 fadeInLeft animated-on-ready">
                    Всего
                    <span class="js-type-it color-purple">25</span>
                    мест в наборе – успейте присоединиться!
                </h4>

                <div
                    class="hero-time col-md-auto col-xl-4 d-flex justify-content-center counter-container"
                    data-count-down="{{ registration_closes_date_formatted }}"
                >
                    <div class="row justify-content-center"><b class="d-block">00</b><span class="tm-name">дней</span></div>
                    <span class="delimeter">:</span>
                    <div class="row justify-content-center"><b class="d-block">00</b><span class="tm-name">часов</span></div>
                    <span class="delimeter">:</span>
                    <div class="row justify-content-center"><b class="d-block">00</b><span class="tm-name">минут</span></div>
                    <span class="delimeter">:</span>
                    <div class="row justify-content-center"><b class="d-block">00</b><span class="tm-name">секунд</span></div>
                </div>
            {% else %}
                <h4 class="curs-place col-12 col-md-8 col-xl-12">
                    Сейчас регистрация закрыта, но мы скоро регистрацию на новый набор
                </h4>
            {% endif %}
        </div>
        {% if enrollment %}
            <div class="ticket-block row">
                <div class="col-md-12 col-lg-8">
                    <div class="card slideInUp animated-on-ready">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h3 class="card-heading brackets brackets-yellow">Учитесь онлайн</h3>
                            <div class="price-list">
                                <div class="price-item payment-before">
                                    <div class="pt-lg-3">
                                        <div class="price-parent">
                                            <div class="price-date"><b>Ранняя регистрация</b></div>
                                            <div class="price-date">
                                                До {{ enrollment.early_price_date_to | date:"j E" }}
                                            </div>
                                            <strong class="price">{{ enrollment.early_price_rub }} р.</strong>
                                        </div>
                                        <div class="decr-price-parent">
                                            <a href="#howToPay" class="decr-price d-none d-lg-block scroll-to">
                                                В рассрочку <strong>от 3500 р/мес</strong>
                                            </a>
                                            <a href="#howToPay" class="decr-price d-lg-none scroll-to" style="padding-top: 5px">
                                                Есть рассрочка
                                            </a>
                                        </div>
                                    </div>
                                    {% if today <= enrollment.early_price_date_to %}
                                        {% include 'mainpage/include/common/buttons/block_order_button.html' with modal_btn='yellow ' %}
                                    {% else %}
                                        <button class="yellow btn btn-warning btn-add btn-buy" data-toggle="modal" disabled data-target="#overlay">
                                            Регистрация закрыта
                                        </button>
                                    {% endif %}
                                </div>
                                <div class="price-item payment-after">
                                    <div class="pt-lg-3">
                                        <div class="price-parent">
                                            <div class="price-date"><b>Обычная регистрация</b></div>
                                            <div class="price-date"> С {{ enrollment.late_price_date_from | date:"j E" }}</div>
                                            <strong class="price">{{ enrollment.late_price_rub }} р.</strong>
                                        </div>
                                        <div class="decr-price-parent">
                                            <a href="#howToPay" class="decr-price d-none d-lg-block scroll-to">
                                                В рассрочку <strong>от 4000 р/мес</strong>
                                            </a>
                                            <a href="#howToPay" class="decr-price d-lg-none scroll-to" style="padding-top: 5px">Есть рассрочка</a>
                                        </div>
                                    </div>
                                    {% if today >= enrollment.late_price_date_from %}
                                        {% include 'mainpage/include/common/buttons/block_order_button.html' %}
                                    {% else %}
                                        <button class="btn btn-warning btn-add btn-buy" disabled data-toggle="modal" data-target="#overlay">
                                            Регистрация закрыта
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
