{% load static %}
{% load l10n %}
{% include "new-design/include/header.html" %}

<!--SECTION POST PREVIEW CAROUSEL START-->
<section class="post_preview_carousel_wrapper">
    <div class="post_preview_carousel">
        <div class="carousel_item">
            <img src="{% static 'new-design/img/single_post.png' %}" alt="preview">
            <div class="container">
                <div class="carousel_content_wrapper">
                    <h1 class="title">
                        Делаем клон celery, чтобы понять, как он работает
                    </h1>
                    <p class="descr">
                        Сelery — асинхронная очередь задач, которую используют для отложенной обработки.
                        Этот пост объясняет, как она устроена, с помощью создания клона celery.
                    </p>
                </div>
            </div>

        </div>
        <div class="carousel_item">
            <img src="{% static 'new-design/img/single_post.png' %}" alt="preview">
            <div class="container">
                <div class="carousel_content_wrapper">
                    <p class="title">
                        Делаем клон celery, чтобы понять, как он работает
                    </p>
                    <p class="descr">
                        Сelery — асинхронная очередь задач, которую используют для отложенной обработки.
                        Этот пост объясняет, как она устроена, с помощью создания клона celery.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--SECTION POST PREVIEW CAROUSEL END-->

<!--SECTION SINGLE POST CONTENT START-->
<section class="single_post_content_wrapper">
    <div class="container">
        <div class="single_post_content">
            <div class="single_post">
                <div class="mobile_posted">
                    <dl>
                        <div>
                            <dt>Posted</dt>
                            <dd>14.08.2019</dd>
                        </div>
                        <div>
                            <dt>Read time</dt>
                            <dd>5 min</dd>
                        </div>
                    </dl>
                </div>
                <ul class="article_tags">
                    <li><a href="#">#Tutorials</a></li>
                    <li><a href="#">#Аналитика</a></li>
                </ul>
                <div class="single_post_text">
                    <p>
                        Есть над чем задуматься: интерактивные прототипы, инициированные
                        исключительно синтетически, призваны к ответу. Современные технологии
                        достигли такого уровня, что существующая теория создаёт предпосылки для распределения
                        внутренних резервов и ресурсов. Как принято считать, сделанные на базе интернет-аналитики
                        выводы, инициированные исключительно синтетически, в равной степени предоставлены.
                    </p>
                    <h3>
                        Финансовый мир очнулся: курс ценных бумаг попахивает безумием
                    </h3>
                    <h4>
                        Противоположная точка зрения подразумевает, что.
                    </h4>
                    <pre><code>&lt;HelloWorld/&gt;</code></pre>
                    <p>
                        Повседневная практика показывает, что высокотехнологичная концепция
                        общественного уклада играет определяющее значение для новых предложений.
                        Принимая во внимание показатели успешности, разбавленное изрядной долей эмпатии,
                        рациональное мышление играет важную роль в формировании глубокомысленных
                        рассуждений. Безусловно, базовый вектор развития позволяет выполнить важные
                        задания по разработке.
                    </p>
                    <h4>
                        Но элементы политического процесса формируют глобальную экономическую сеть и при этом -
                        объявлены нарушающими общечеловеческие нормы этики и морали.
                    </h4>
                    <p>
                        Являясь всего лишь частью общей картины, сделанные на базе интернет-аналитики выводы
                        в равной степени предоставлены сами себе. Сложно сказать, почему активно
                        развивающиеся страны третьего мира, которые представляют собой яркий пример
                        континентально-европейского типа политической культуры, будут преданы социально-демократической.
                    </p>
                    <ul>
                        <li>
                            Но действия представителей оппозиции, превозмогая сложившуюся непростую экономическую ситуацию,
                            объективно рассмотрены соответствующими инстанциями. Но.
                        </li>
                        <li>
                            Также как сплочённость команды профессионалов позволяет оценить значение соответствующих условий
                            активизации. Значимость этих проблем настолько очевидна, что.
                        </li>
                    </ul>
                    <p>
                        Идейные соображения высшего порядка, а также разбавленное изрядной долей эмпатии,
                        рациональное мышление в значительной степени обусловливает важность новых предложений.
                        Безусловно, высококачественный прототип будущего проекта прекрасно подходит для реализации
                        инновационных методов управления процессами. Реплицированные с зарубежных.
                    </p>
                    <p>
                        С учётом сложившейся международной обстановки, перспективное планирование
                        способствует повышению качества поэтапного и последовательного развития общества.
                        А ещё интерактивные прототипы будут объединены в целые кластеры себе подобных. Стремящиеся
                        вытеснить традиционное производство, нанотехнологии будут объявлены нарушающими
                        общечеловеческие нормы этики и морали. Банальные, но неопровержимые выводы, а также явные
                        признаки победы институционализации лишь добавляют фракционных разногласий и смешаны с.
                    </p>
                    <h3>
                        Современная методология разработки оказалась чрезвычайно полезной
                    </h3>
                    <img src="{% static 'new-design/img/single_post_image.png' %}" alt="image">
                    <p>
                        Лишь сторонники тоталитаризма в науке и по сей день остаются уделом либералов,
                        которые жаждут быть своевременно верифицированы. Каждый из нас понимает очевидную вещь:
                        экономическая повестка сегодняшнего дня представляет собой интересный эксперимент проверки
                        дальнейших направлений развития. Следует отметить, что базовый
                        вектор развития однозначно определяет каждого участника как способного принимать
                        собственные решения касаемо системы массового участия. Как уже неоднократно упомянуто, акционеры.
                    </p>
                </div>
            </div>
            <div class="user_info_wrapper">
                <div class="user_info">
                    <div class="personal_info_wrapper">
                        <div class="personal_info">
                            <img src="{% static 'new-design/img/avatar.png' %}" alt="avatar">
                            <div class="user_name">
                                Алексей
                                Штырняев
                            </div>
                        </div>
                        <button type="submit" class="btn subscribe">Подписаться</button>
                    </div>
                    <dl>
                        <div>
                            <dt>Work</dt>
                            <dd>X5 Group</dd>
                        </div>
                        <div>
                             <dt>Location</dt>
                             <dd>Russian</dd>
                        </div>
                        <div>
                            <dt>Joined</dt>
                            <dd>25.07.2020</dd>
                        </div>
                    </dl>
                </div>
                <div class="posted">
                    <dl>
                        <dt>Posted</dt>
                        <dd>14.08.2019</dd>
                        <dt>Read time</dt>
                        <dd>5 min</dd>
                    </dl>
                </div>
                <div class="share">
                    <h2>Share</h2>
                    <p>Поделись постом, будь молодцом ;)</p>
                    <div class="social_media">
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span class="name">Facebook</span>
                            <span class="qty">[10]</span>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <span class="name">Twitter</span>
                            <span class="qty">[10]</span>
                        </a>
                        <a href="#">
                            <i class="fa fa-vk" aria-hidden="true"></i>
                            <span class="name">VK</span>
                            <span class="qty">[10]</span>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                            <span class="name">Linked In</span>
                            <span class="qty">[10]</span>
                        </a>
                    </div>
                </div>
                <div class="similar_posts">
                    <h2>Похожие посты</h2>
                    <ul>
                        <li>
                            <a href="#">
                                HR-аналитика и Python для чайников (есть котики)
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                HR-аналитика и Python для чайников (есть котики)
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                HR-аналитика и Python для чайников (есть котики)
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                HR-аналитика и Python для чайников (есть котики)
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                HR-аналитика и Python для чайников (есть котики)
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--SECTION SINGLE POST CONTENT END-->

<!--SECTION POSTS CAROUSEL START-->
<section class="posts_carousel_wrapper">
    <div class="container">
        <div class="posts_carousel">
            <div class="posts_item">
                <a href="#">
                    <div class="user_info_content">
                        <div class="avatar">
                            <img src="{% static 'new-design/img/avatar.png' %}" alt="avatar">
                        </div>
                        <div class="user_info">
                            <div class="name">Алексей Штырняев <span class="job">[X5 Group]</span></div>
                            <div class="date">17 апреля</div>
                        </div>
                    </div>
                    <div class="article_title">
                        HR-аналитика и Python для чайников (есть котики)
                    </div>
                </a>
                <ul class="article_tags">
                    <li><a href="#">#Поиск работы</a></li>
                    <li><a href="#">#Аналитика</a></li>
                </ul>
                <div class="article_descr">
                    В своём стремлении улучшить пользовательский опыт мы упускаем,
                    что сделанные на базе интернет-аналитики выводы.
                </div>
            </div>
            <div class="posts_item">
                <a href="#">
                    <div class="user_info_content">
                        <div class="avatar">
                            <img src="{% static 'new-design/img/avatar.png' %}" alt="avatar">
                        </div>
                        <div class="user_info">
                            <div class="name">Алексей Штырняев <span class="job">[X5 Group]</span></div>
                            <div class="date">17 апреля</div>
                        </div>
                    </div>
                    <div class="article_title">
                        HR-аналитика и Python для чайников (есть котики)
                    </div>
                </a>
                <ul class="article_tags">
                    <li><a href="#">#Поиск работы</a></li>
                    <li><a href="#">#Аналитика</a></li>
                </ul>
                <div class="article_descr">
                    В своём стремлении улучшить пользовательский опыт мы упускаем,
                    что сделанные на базе интернет-аналитики выводы.
                </div>
            </div>
            <div class="posts_item">
                <a href="#">
                    <div class="user_info_content">
                        <div class="avatar">
                            <img src="{% static 'new-design/img/avatar.png' %}" alt="avatar">
                        </div>
                        <div class="user_info">
                            <div class="name">Алексей Штырняев <span class="job">[X5 Group]</span></div>
                            <div class="date">17 апреля</div>
                        </div>
                    </div>
                    <div class="article_title">
                        HR-аналитика и Python для чайников (есть котики)
                    </div>
                </a>
                <ul class="article_tags">
                    <li><a href="#">#Поиск работы</a></li>
                    <li><a href="#">#Аналитика</a></li>
                </ul>
                <div class="article_descr">
                    В своём стремлении улучшить пользовательский опыт мы упускаем,
                    что сделанные на базе интернет-аналитики выводы.
                </div>
            </div>
            <div class="posts_item">
                <a href="#">
                    <div class="user_info_content">
                        <div class="avatar">
                            <img src="{% static 'new-design/img/avatar.png' %}" alt="avatar">
                        </div>
                        <div class="user_info">
                            <div class="name">Алексей Штырняев <span class="job">[X5 Group]</span></div>
                            <div class="date">17 апреля</div>
                        </div>
                    </div>
                    <div class="article_title">
                        HR-аналитика и Python для чайников (есть котики)
                    </div>
                </a>
                <ul class="article_tags">
                    <li><a href="#">#Поиск работы</a></li>
                    <li><a href="#">#Аналитика</a></li>
                </ul>
                <div class="article_descr">
                    В своём стремлении улучшить пользовательский опыт мы упускаем,
                    что сделанные на базе интернет-аналитики выводы.
                </div>
            </div>
        </div>
    </div>
</section>
<!--SECTION POSTS CAROUSEL END-->

<!--SECTION EVENTS START-->
<section class="events_wrapper">
    <div class="container">
        <h2>Ближайшие мероприятия</h2>
        <div class="events_list">
            <div class="events_item">
                <div class="event_info">
                    <div class="event_logo">
                        <img src="{% static 'new-design/img/event_logo.png' %}" alt="event_logo">
                    </div>
                    <div class="event_date">
                        <p class="date">25</p>
                        <p class="month">Декабря</p>
                    </div>
                    <div class="event_location">
                        <div class="place">Москва</div>
                        <div class="day">Пятница / <span class="time">16:00</span></div>
                    </div>
                    <div class="price">
                        5500
                        <i class="fa fa-rub" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="event_title">
                    Moscow Python Cong
                </div>
                <div class="event_descr">
                    В целом, конечно, существующая теория однозначно фиксирует
                    необходимость приоритизации разума над эмоциями. Господа,
                    постоянное информационно-пропагандистское обеспечение нашей
                    деятельности обеспечивает актуальность поставленных обществом.
                </div>
                <a href="#" class="event_detail">Подробнее</a>
            </div>
            <div class="events_item">
                <div class="event_info">
                    <div class="event_logo">
                        <img src="{% static 'new-design/img/event_logo.png' %}" alt="event_logo">
                    </div>
                    <div class="event_date">
                        <p class="date">11</p>
                        <p class="month">Января</p>
                    </div>
                    <div class="event_location">
                        <div class="place">Online</div>
                        <div class="day">Пятница / <span class="time">16:00</span></div>
                    </div>
                    <div class="price">
                        5500
                        <i class="fa fa-rub" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="event_title">
                    Moscow Python Cong
                </div>
                <div class="event_descr">
                    В целом, конечно, существующая теория однозначно фиксирует
                    необходимость приоритизации разума над эмоциями. Господа,
                    постоянное информационно-пропагандистское обеспечение нашей
                    деятельности обеспечивает актуальность поставленных обществом.
                </div>
                <a href="#" class="event_detail">Подробнее</a>
            </div>
        </div>
        <button class="btn">все мероприятия</button>
    </div>
</section>
<!--SECTION EVENTS END-->

{% include "new-design/include/footer.html" %}