.btn
  font-family: 'Ubuntu', sans-serif
  font-weight: 600
  text-transform: uppercase;
  font-size: 1rem
  border-radius 27px
  padding: 16px 54px
  line-height: 1.3
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .2s ease-out, transform .2s ease-out
  &.bigger
    padding: 21px 56px
    border-radius 32px
    min-width 300px
    text-align: center
  &:hover:not([disabled]):not(.notransform)
    transform: translateY(-3px);
  &:active:not([disabled]):not(.notransform)
    transform: translateY(0);

.btn-special
  background: #fff;
  .bg-yellow &:hover
    box-shadow: 0 3px 0 #E0AC10
  .bg-blue &:hover
    box-shadow: 0 3px 0 #1881BD
  &:active
    transform: translateY(0);
    box-shadow 0 0 0 rgba(0, 0, 0, 0)!important
    background: rgba(255, 255, 255, 0.6);

.btn.color-white
  color: #fff !important

.btn.color-brown
  color: #554537 !important

.btn-warning
  color: #fff !important
  background-color: $mainyellow
  border-color: $mainyellow
  &.text-black
    color: $title-on-light !important
  &:hover
    background-color: #F2C94C
    border-color: #F2C94C
    box-shadow: 0 3px 0 #E0AC10
  &:active
    background-color #E0AC10;
    border-color: #E0AC10;
    box-shadow: none
    &:hover:focus
      box-shadow: none !important
  &:focus
    box-shadow: none
    &:hover
      background-color: #F2C94C
      border-color: #F2C94C
      box-shadow: 0 3px 0 #E0AC10
  &:not(:disabled):not(.disabled):active:focus
    box-shadow: none

.btn.disabled, .btn:disabled
  opacity: .25

.btn-warning:not(:disabled):not(.disabled):active
  background-color #E0AC10;
  border-color: #E0AC10;

.btn-info
  color: #fff !important
  background-color: $mainblue
  border-color: $mainblue
  &.text-black
    color: $title-on-light !important
  &:hover
    background-color: #2D9CDB;
    border-color: #2D9CDB;
    box-shadow: 0 3px 0 #1881BD
  &:active
    background-color #1881BD
    border-color: #1881BD
    box-shadow: none
    &:hover:focus
      box-shadow: none !important
  &:focus
    box-shadow: none
    &:hover
      background-color: #2D9CDB;
      border-color: #2D9CDB;
      box-shadow: 0 3px 0 #1881BD
  &:not(:disabled):not(.disabled):active:focus
    box-shadow: none

.btn-info:not(:disabled):not(.disabled):active
  background-color #1881BD
  border-color: #1881BD

.btn-outline-warning
  color: $title-on-light
  background-color: transparent
  border-color: $mainyellow
  border-width: 2px
  &:hover
    background-color: #F2C94C
    border-color: #F2C94C
    box-shadow: 0 3px 0 #E0AC10
  &:active
    background-color #E0AC10;
    border-color: #E0AC10;
    box-shadow: none !important
    &:hover:focus
      box-shadow: none !important
  &:focus
    box-shadow: none !important
    &:hover
      background-color: #F2C94C
      border-color: #F2C94C
      box-shadow: 0 3px 0 #E0AC10 !important
  &:not(:disabled):not(.disabled):active:focus
    box-shadow: none

.btn-outline-warning:not(:disabled):not(.disabled):active
  background-color #E0AC10;
  border-color: #E0AC10;

.btn-outline-info
  color: $title-on-light !important
  background-color: transparent
  border-color: $mainblue
  border-width: 2px
  &.text-black
    color: $title-on-light !important
  &:hover
    color: #fff
    background-color: #2D9CDB;
    border-color: #2D9CDB;
    box-shadow: 0 3px 0 #1881BD
  &:active
    color: #fff
    background-color #1881BD
    border-color: #1881BD
    box-shadow: none !important
    &:hover:focus
      box-shadow: none !important
  &:focus
    box-shadow: none !important
    &:hover
      color: #fff
      background-color: #2D9CDB;
      border-color: #2D9CDB;
      box-shadow: 0 3px 0 #1881BD !important
  &:not(:disabled):not(.disabled):active:focus
    box-shadow: none

.btn-outline-info:not(:disabled):not(.disabled):active
  background-color #1881BD
  border-color: #1881BD

kbd
  background-color: $background-black;
  box-decoration-break: clone;
  -webkit-box-decoration-break clone;

label
  cursor: pointer

.card-body
  padding: 3.5rem

.form-group
  margin-bottom: 1.5rem

.form-control
  padding: 11px 15px;
  &:focus
    border-color: $mainyellow
    box-shadow: 0 0 0 1px rgba(242, 201, 76, 1);

@media (min-width: 1200px)
  .container
    max-width: 1366px

@media (min-width: 1000px)
  .modal-dialog
    max-width: 1366px