@media (max-width: 1400px)
  .nav
    .nav-link
      padding: 10px 5px
      &.btn-outline-warning
        margin-left: 5px

  .counter .price-second
    padding: 30px 20px

  .hero
    background-position 100% 50%
    padding: 120px 0 0;
    .ticket-block
      transform translateY(20px)
    h1
      font-size: 3.5vmax
  .about
    padding: 117px 0 123px
@media (max-width: 1366px) and (min-width: 1200px)
  .hero
    .container
      padding-left: 30px
      padding-right: 30px

@media (max-width: 1500px)
  .moscow-python
    background-size 35px
@media (max-width: 1430px)
  .moscow-python
    background-position: 57% 10%;

@media (max-width: 764px)
  section.hero
    .ticket-block .col-md-6
      .card
        border-radius 0

@media (max-width: 1200px)
  section.hero
    .ticket-block .col-md-6
      .card-body
        padding: 2rem
  .main-header.scrolled
    padding: 10px 0

  .about .about-heading
    top: 130px

  .price-box
    padding: 25px
    .price-label
      padding: 20px 0 10px
    .price-list
      padding: 15px 0
      li
        padding: 15px 0 25px
        .cost
          padding: 5px 0 15px;
        &:not(:last-child):after
          height: 1px
          width: 100%
          right: 0
          bottom: 0
          top: initial

  .counter .price-second
    padding: 50px
    margin-bottom: 40px

@media (min-width: 1400px)
  .hero
    h1
      font-size: 3.3vmax

@media (max-width: 575px)
  section.hero
    padding 80px 0 0
    background-position: 80% 0;
    background-size: 290%
    h1
      font-size: 3vmax;
      line-height: 1.4
    .ticket-block .col-md-6
      padding: 0
      .card
        border-radius 0
        margin: 0
        position: relative
      &:first-child .card
        margin-top: 10px
        &:after
          content: ''
          display: block
          width: 80%
          height: 1px
          border-bottom 1px dashed #E0E0E0;
          position: absolute
          bottom 0
          left: 10%

  .hdescr
    margin: 1rem 0

  .details-section
    .price-box
      margin-right: -15px
      margin-left: -15px

  .calendar
    .calendar-list
      .day-wrapper
        opacity: 0
        transition opacity .15s ease
        .day
          width: 110%
        &.slick-current
          opacity: 1