.register
  .modal-dialog
    margin-top: 0
  .close
    padding: 15px 10px
    display: flex
    align-items center
    z-index: 50;
    right: 20px;
    top: 10px;
    position: absolute
    -webkit-tap-highlight-color: transparent;
    outline: none;
  .close-label
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-family: 'Ubuntu';
    font-size: .785rem
    font-weight: 400
    margin-right: 10px
  .close-icon
    display: block
    width: 28px;
    height: 28px;
    background: url(./../images/close-48.png) no-repeat 50% 50%;
    background-size: cover;
  .modal-header
    padding: 35px
    overflow: hidden;
    border-radius 3px 3px 0 0
    h2
      font-size: 3rem
      margin: 20px 0
    .modal-descr
      font-size: 1rem
      color: $text-on-dark;
  .modal-body
    font-size: .875rem
    h3
      font-size: 1.625rem
      margin-bottom: 1.5rem
    .container
      padding: 60px 0 100px
    .overlay-form
      .type-section
        .group-radio
          label
            margin: 0
            padding: 20px 10px
            border-top: 1px solid #E0E0E0;
            cursor: pointer
            &:not(:first-child)
              border-bottom: 1px solid #E0E0E0;
            &:hover
              background: #FAFAFA;
        .name-container
          flex 1
          b
            font-size: 14px
            font-family: Ubuntu;
            font-style: normal;
            font-weight: bold;
            line-height: 1
          small
            font-size: 12px
        .radio-container
          margin-right: 16px
    .total-cost
      margin: 20px 0
      span
        font-size: 12px
      .total-selected
        font-size: 18px
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        margin-left: 10px
    .final
      margin: 30px 0

.radio-container,
.experience-radio
  .custom-radio
    border: 1px solid #BDBDBD;
    width: 24px
    display: block
    height: 24px
    border-radius 12px
    position: relative;
    padding: 7px
    flex-shrink: 0;
    &:hover
      border: 2px solid $mainyellow
      padding: 6px
  [type="radio"]
    position: absolute
    z-index: -1
    opacity: 0
    &:checked + .custom-radio,
    &:checked + label .custom-radio
      border-color $mainyellow
      background $mainyellow
      &:after
        content: ''
        display: block
        width: 8px
        height: 8px
        background: #fff;
        border-radius 4px

.type-section
  margin-bottom: 50px

.info-section,
.additional-section
  margin-bottom: 50px
  label.heading
    font-weight: 600
    font-family: 'Ubuntu', sans-serif
    text-transform: uppercase

.experience-radio
  margin-bottom: 40px
  .form-check
    margin: 16px 0
    padding: 0
  .form-check-label
    display: flex
    cursor: pointer
    .custom-radio
      margin-right: 20px

.experience-text
  margin-bottom: 50px

.custom-checkbox-container
  padding-left: 0
  label
    display: flex
    align-items center
  input[type="checkbox"]
    position: absolute
    z-index: -1
    visibility: hidden
    &:checked + label .custom-checkbox
      background $mainyellow
      border-color $mainyellow
  .custom-checkbox
    display: inline-block
    height: 24px
    width: 24px
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    text-align: center
    line-height: 22px
    flex-shrink 0
    margin-right: 20px
    &:hover
      border-color $mainyellow
      border-width: 2px
      line-height: 20px
    &:after
      content: ''
      display: inline-block
      width: 7px
      height: 11px
      border 2px solid transparent
      border-right-color: #fff
      border-bottom-color: #fff
      transform rotate(40deg)
  a
    color: #2D9CDB;
    &:hover
      color: #2478ab;
